# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log

# Environment variables
.env
.env.local
.env.development
.env.production
.env.*

# Build outputs
dist/
build/

# IDE files
.vscode/
.idea/

# Temporary files
*.log
*.cache

# Other unnecessary files/folders
temp/
logs/
coverage/



# Files to be released in version 2.0.0:
# backend files:
# backend/src/controllers/group.controller.js
# backend/src/models/grouphabit.model.js
# backend/src/models/group.model.js
# backend/src/models/groupInvitation.js
# backend/src/routes/group.routes.js

# frontend files:
# frontend/src/components/Pages/GroupTracking
# frontend/src/store/Slices/groupSlice.js
# frontend/src/GroupTrackingLayout.jsx

